@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
} 

html{
    box-sizing: border-box;
    font-size: 16px;
}

:root{
    --main-background-color: #C0B7B1;
    --nav-background-color: #131515;
    --nav-link-color: #8E6E53;
    --nav-link-hover-color: #C69C72;
    --nav-link-active-color: beige;
    --main-primary-color: #8E6E53;
    --main-secondary-color: #C69C72;
    --main-box-shadow-color: lightgrey;
}
nav, footer{
    font-family: 'Poppins', 'Roboto', sans-serif;
}
nav{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    background: var(--nav-background-color);
    position: sticky;
    top: 0;
    z-index: 10;
}

nav #logo{
    width: 50px;
    margin-left: 20px;
}


#close-popup{
    position: absolute;
    top: 0;
    right: 1rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

#close-popup:hover{
    color: red;
}
  
.popup .popuptext {
    font-weight: lighter;
    display: none;
    width: 50vw;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px;
    position: absolute;
    z-index: 10;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

nav .nav-links{
    display: flex;
    justify-content: flex-end;
    margin-left: auto
}

nav a{
    text-decoration: none;
    color: var(--nav-link-color);
    margin: 0 20px;
}

nav a:hover{
    color: var(--nav-link-hover-color);
}

nav a:active{
    color: var(--nav-link-active-color);
}

.main, .title{
    font-family: 'Merriweather', sans-serif;
    line-height: 1.5;
    font-size: 1.2rem;
}

.title{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title .title-left img{
    width: 14rem;
    height: auto;
    min-width: 150px;
}

.title .icon-container{
    display: flex;
    gap: 1rem;
}

.title .icon-container img{
    width: 3rem;
    height: auto;
    min-width: 50px;
}

.title .icon:hover{
    transform: scale(1.1);
}

.title .icon:active{
    transform: scale(0.9);
}

.title a.button-link{
    margin: 0.4rem auto;
}

a.button-link{
    font-size: 1rem;
    display: block;
    text-decoration: none;
    border: 0.2rem solid var(--nav-background-color);
    color: var(--nav-background-color);
    background-color: var(--main-primary-color);
    padding: 0.3rem 0.1rem;
    border-radius: 1rem;
    text-align: center;
    width: 10rem;
}

a.button-link:hover{
    border: 0.2rem solid var(--main-primary-color);
    color: var(--main-background-color);
    background-color: var(--nav-background-color);
}

a.button-link:active{
    border: 0.2rem solid var(--main-primary-color);
    color: var(--nav-background-color);
    background-color: var(--main-background-color);
}

.main{
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
}

.introduction{
    text-align: center;
}
#name{
    color: var(--main-background-color);
}
.content{
    padding-top: 15px;
}

.content h2{
    text-align: center;
    line-height: 2;
}

ul{
    list-style: none;
}

ul li{
    padding-left: 20px;
}

.content-card{
    padding: 2rem 3rem;
}

.content-card.skills{
    display: grid;
    grid-template: auto 80% / repeat(3,1fr);
    justify-items: center;
}

.content-card.skills h2{
    grid-area: 1 / 1 / span 1 / span 3;
}

.content-card.primary-color{
    background-color: var(--main-primary-color);
}

.content-card.secondary-color{
    background-color: var(--main-secondary-color);
}

.content-section{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 2rem;
    gap: 1.5rem;
}

.content-section.reversed{
    flex-direction: row-reverse;
}

.projects .content-section, .skills .content-section{
    display: block;
}

.content-section-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-section-img{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: space-evenly;
}

.content-section-text h3{
    line-height: 2;
}

.content-section a{
    color: black;
}

.content-section a:hover{
    color: grey;
}

.content-section a:active{
    color: var(--nav-link-active-color);
}

.content-section-img .img-content{
    width: 25rem;
    height: auto;
    max-width: 100%;
}

.content-section-img .icon{
    width: 15rem;
    height: auto;
    max-width: 100%;
}

.content-section-img iframe{
    height: 17.5rem;
    width: 25rem;
}

.books .img-content{
    width: 18rem;
}

#golf-vid-1{
    height: 150px;
}

footer{
    background-color: var(--nav-background-color);
    color: white;
    font-weight: lighter;
    text-align: center;
    padding: 1.25rem 0;
    font-size: 0.8rem;
    width: 100%;
}

@media screen and (max-width: 768px) {

    html{
        font-size: 12px;
    }
    
    .content-card{
        padding: 1rem;
    } 

    .content-section{
        flex-direction: column;
    }

    .content-section-text{
        width: 100%;
    }
    
    .content-section-img{
        width: 100%;
    }

    .content-card.skills{
        display: block;
    }

}
