@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
} 

html{
    scroll-behavior: smooth;
    width: fit-content;
}

:root{
    --main-background-color: #C0B7B1;
    --nav-background-color: #131515;
    --nav-link-color: #8E6E53;
    --nav-link-hover-color: #C69C72;
    --main-primary-color: #8E6E53;
    --main-secondary-color: #C69C72;
    --main-box-shadow-color: lightgrey;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    background: var(--nav-background-color);
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100vw;
}

nav #logo{
    width: max(5%, 50px);
    margin-left: 20px;
}

.popup {
    position: relative;
    cursor: pointer;
    width: min-content;
}
  
.popup .popuptext {
    font-weight: lighter;
    visibility: hidden;
    width: 50vw;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px;
    position: absolute;
    z-index: 10;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

nav .nav-links{
    margin: 0 auto;
}

nav a{
    text-decoration: none;
    color: var(--nav-link-color);
    margin: 0 20px;
}

nav a:hover{
    color: var(--nav-link-hover-color);
}
.title{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.title img{
    width: min(20vw,150px);
}

.title .icon:hover{
    transform: scale(1.1);
}


.main{
    width:100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
}
.introduction h1{
    display: inline;
}

.introduction.content-section-text{
    text-align: center;
    margin: 0 auto;
    width: 80%;
}
#name{
    color: var(--main-background-color);
}
.content{
    padding-top: 15px;
}

.content h1{
    text-align: center;
}
ul{
    list-style: none;
}

ul li{
    padding-left: 20px;
}

.content-card{
    padding: 25px 0;
    box-shadow: var(--main-box-shadow-color) 5px 5px;
    width: 100%;
    height: max(min-content,90vh);
}

.content-card.primary-color{
    background-color: var(--main-primary-color);
}

.content-card.secondary-color{
    background-color: var(--main-secondary-color);
}
.icons{
    display: flex;
    gap: 1rem;
}
.content-section .content-section-img .icon{
    width: max(50%,200px);
}
.icons .icon{
    width: min(10vw,50px);
}

.content-section{
    margin: 50px 0;
    display: flex;
    padding: 0 30px;
    flex-wrap: wrap;
}

.projects .content-section, .skills .content-section{
    margin: 20px 0;
    display: block;
}

#skills-content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.content-section-text, .content-section-img{
    margin: 30px 0;
}

.content-section-text{
    width: max(50%,650px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-section-img{
    width: max(50%,300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-section a{
    color: black;
}

.content-section a:hover{
    color: grey;
}

.content-section-img .img-content{
    width: 80%;
}

.books .img-content{
    width: min(80%,350px);
}

#golf-vid-1{
    height: 150px;
}

footer{
    background-color: var(--nav-background-color);
    color: white;
    font-weight: lighter;
    text-align: center;
    padding: 20px 0;
}
